body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #7070d2;
    color: white;
    padding: 10px 0;
}

header h3 {
    margin: 0;
    padding: 5px 0;
    color: black;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #3b3bb9;
    padding: 20px;
}

.profile-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.profile-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.profile-text h1 {
    margin: 0;
    font-size: 29px;
}

.profile-text h3 {
    margin: 5px 0 0;
    font-size: 16px;
    color: #ffe0b3;
}

.section-title {
    text-align: center;
    padding: 10px;
    margin: 0;
}

.contact-info {
    background-color: #cbc265;
    padding: 10px 20px;
}

.contact-info ol {
    margin: 0;
    padding-left: 20px;
}

.intro {
    text-align: center;
    background-color: #2cc0c0;
    margin: 0;
    padding: 10px;
}

table {
    width: 90%;
    margin: 10px auto;
    border-collapse: collapse;
    background-color: #df7070;
}

table,
th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.skills,
.hobbies {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    background-color: #e0e0e0;
    border: 1px solid #999;
}

.skills li,
.hobbies li {
    margin: 5px;
}

.project-card {
    background-color: #b5aeae;
    border: 1px solid black;
    padding: 10px;
    margin: 10px auto;
    width: 90%;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #e9aacb;
}
